* {
    margin:  0;
    /* padding: 0; */
}
body {
    font-family: "Nunito", sans-serif;
    background-color: rgb(55, 55, 94);
}
h1 {
    color: white;
}
p {
    color: white;
}
a {
    color: white;
}
li {
    color: white;
}
header {
    background-color: rgb(59, 59, 173);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.logo.icon {
    width: 90px;
    height: auto;
}
.logo.title {
    display: grid;
}
.promo-buttons {
    display: flex;
    align-items: center;
}
.promo-buttons.button {
    text-decoration: none;
    margin-right: 10px;
    line-height: 40px;
    border-radius: 10px;
    padding: 12px;
    font-size: 22px;
    white-space: nowrap;
}
.promo-buttons.button.add {
    background-image: url("../images/add.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
    text-indent: 15px;
}
.promo-buttons.button.support {
    background-image: url("../images/support.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 21px;
    text-indent: 15px;
}

.body {
    color: white;
}
.body h2 {
    text-align: center;
}
.side-buttons {
    display: flex;
    background-color: rgb(82, 82, 148);
}
.side-buttons.button {
    font-size: 19px;
    text-decoration: none;
    white-space: nowrap;
    padding: 12px;
}
.side-buttons.button:hover {
    text-decoration: underline;
    color: white;
}
.lists-links {
    display: flex;
    padding: 4px;
    justify-content: center;
}